<script type="text/ng-template" id="schedule.html">
  <%= render :partial => 'conferences/scheduler/slots' %>

  <div class="rightBar">
    <%= render :partial => 'conferences/scheduler/proposals' %>
    <%= render :partial => 'conferences/scheduler/presenters' %>
  </div>
</script>