<div ng-controller="RoomsCtrl">
    <h1>Edit Rooms</h1>
    <div ng-repeat="room in rooms">
      <form ng-submit="save(room)">
        <label>Room Name</label>
        <input type="text" ng-model="room.label">

        <label>Audio?</label>
        <input type="checkbox" ng-model="room.audio">

        <label>Video?</label>
        <input type="checkbox" ng-model="room.video">

        <input type="submit" ng-click="" class="btn btn-primary" value="Save">
        <a href="#" class="btn btn-danger remove_fields">Remove</a>
      </form>
    </div>
    <a href="#" class="btn btn-primary">Add Room</a>
</div>