<h3>Registrations</h3>
Currently there have been <%= @conference.line_items.paid.count %> paid event registrations!  There are also <%= @conference.line_items.pending.count %> unpaid event registrations.
<%= render :partial => 'reports/conference_item_breakdown' %>
