<h3>Registrations</h3>
Currently there have been <%= @conference.registration_count %> paid event registrations!  There are also <%= @conference.pending_registration_count %> unpaid event registrations.
<%= render :partial => 'reports/conference_item_breakdown' %>