<%- content_for :nav do %>
	<%= render :partial => "layouts/admin_nav" %>
<%- end %>

<h1><%= @conference.conference_year %> Conference Settings</h1>
<%= render partial: "settings_form", locals: {conference: @conference} %>

<hr>
<h3>Time for the next conference?</h3>
<%= render partial: "settings_form", locals: {conference: @new_conference} %>