<%- content_for :nav do %>
  <%= render :partial => "layouts/admin_nav" %>
<%- end %>

<div ng-app="schedulerApp" ng-controller="ScheduleCtrl as scheduleCtrl">
  <span ng-init="scheduleCtrl.Config.conferenceYear = '<%= @conference.conference_year %>'"></span>

  <%= render :partial => 'conferences/scheduler/presenters' %>
</div>