<%- content_for :nav do %>
  <%= render :partial => "layouts/admin_nav" %>
<%- end %>

<div class="scheduler" ng-app="schedulerApp" ng-controller="ScheduleCtrl as scheduleCtrl">
  <%= render :partial => 'conferences/scheduler/schedule' %>
  <div class="rightBar">
    <%= render :partial => 'conferences/scheduler/proposals' %>
    <%= render :partial => 'conferences/scheduler/presenters' %>
  </div>
</div>