<%- content_for :nav do %>
	<%= render :partial => 'layouts/admin_nav' %>
<%- end %>
<h1><%= @conference.conference_year %> IFTA Conference</h1>
<%= render :partial => 'proposal_stats' %>
<%= render :partial => 'registration_stats' %>