<h1>Sign up today for the next IFTA conference!</h1>
<div class="signInForm">
<%= render "users/shared/sign_in" %>
</div>

<div class="signUpForm">
<%= render "users/shared/sign_up" %>
</div>

<div style="clear:both; height: 250px;"> </div>
