<h1>Sign up today for the next IFTA conference!</h1>
<div class='alert'>Unfortunately some technical challenges have forced us to abandon the use of last years user data, so even if you signed up last year you will have to do so again this year. Sorry! -- Ben</div>
<div style="float:left; margin-left: 50px;">
<%= render "users/shared/sign_in" %>
</div>

<div style="float:left; margin-left: 200px;">
<%= render "users/shared/sign_up" %>
</div>

<div style="clear:both; height: 250px;"> </div>
