<h1>Sign up today for the next IFTA conference!</h1>
<div style="float:left; margin-left: 50px;">
<%= render "users/shared/sign_in" %>
</div>

<div style="float:left; margin-left: 200px;">
<%= render "users/shared/sign_up" %>
</div>

<div style="clear:both; height: 250px;"> </div>
