<h1>Call For Proposals</h1>

<p>Participants interested in making presentations or poster displays are invited to submit an abstract. Proposals must be submitted via the congress website.</p>

<table>
	<tr>
		<td>Click here for the <%= link_to "General Submissions", new_itinerary_proposal_path(@itinerary) %> form.</td>
		<td>Read the <a href="http://www.ifta-congress.org/docs/GeneralGuidelines.pdf" target="_blank">General Guidelines</a>.</td>
	</tr>
	<tr>
		<td>Click here for the <%= link_to "Student Submissions", new_itinerary_proposal_path(@itinerary, :student => 'yes') %> form.</td>
		<td>Read the <a href="http://www.ifta-congress.org/docs/CallforProposalsStudents.pdf" target="_blank">Student Guidelines</a>.</td>
	</tr>
</table>

<h3>LANGUAGE</h3>
<p>The official language of the meeting is English. All abstract submissions and presentations are to be in English.
</p>

<h3>PLENARIES</h3>
<p>The Plenary Sessions by the keynote presenters will be in English and Spanish.</p>

<h3>Limit to Number of Acceptances</h3>
<p>If more than two proposals are submitted by a main presenter, the selection process will limit acceptances to no more than two presentations that best fit the Congress theme or help to round out the Congress program.</p>
