<fieldset class="show-fieldset fields">
	<div class="control-group">
		<%= f.label :label, 'Room Name', :class => 'control-label' %>
		<div class='controls'>
			<%= f.text_field :label %>
		</div>
	</div>

	<%= f.hidden_field :_destroy %>
  	<%= link_to "Remove Room", "#", :class => "btn btn-danger remove_fields" %>
</fieldset>
