<%- content_for :nav do %>
	<%= render :partial => "layouts/admin_nav" %>
<%- end %>

<h1>New Discount</h1>
<em>Note: Discounts work by overriding the price for a conference item.  So if a discount value isn't set for a particular item then the price will fall back to whatever the current value should be for a particular user.</em><br><br>
<%= render "form" %>
