@charset "utf-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all
 *= require_self
 *= require_tree .
 */

/* CSS Document */

/*Application wide*/
#fat{
	min-height:400px;
	width:900px;
}
.nav {
  background-color: #042456;
  font-weight: bold;
}
.nav a{
  text-decoration: none;
  color:white;
}
.nav>li>a:hover, .nav>li>a:focus, .open>a:hover, .nav .open>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
  background-color: #042466;
  color:white;
}
#fat{
	padding:0;
	overflow:hidden;
}
#page {
	padding-left:10px;
	padding-right:10px;
	overflow:hidden;
  font-family: 'Roboto', sans-serif;
}
.notice, .alert{
  font-size: 18px;
	border:2px solid #042456;
	border-style:groove;
	clear:both;
	padding:5px;
	margin:5px;
}
.notice{
	background-color:#33CC66;
	color:#042456;
	text-align:center;
	
}
.alert{
	background-color:#680000;
	color:white;
}
.alert ul{
	list-style:none;
	margin:0;
	padding:0;
}
.alert ul li{
	margin:0;
	padding:0;
}
.alert h2{
	color:white;
}
.important_reminder{
	font-weight:bold;
	color:red;
}

.float_right{
	float:right;
	padding-right:15px;
}
.btn, input[type="submit"] {
  background-color: #042456;
  color:white;
  border-color: black;
  text-decoration: none;
  margin:2px;
}
.btn a{
  text-decoration: none;
  font-weight: bold;
}

.btn-primary{
  background-color: #042456;
  border-color:black;
}
.btn-danger{
  background-color: #680000;
  border-color: black;
}
.btn-success{
  background-color: #33CC66;
}
.btn-info, .label-info{
  background-color: #f9f9f9;
  border-color:white;
  color:#042456;
}

fieldset.show-fieldset{
  border:1px solid gray;
  padding:5px;
}
/*Itineraries*/
#cart{
	float:right;
	margin:10px;
	width:290px;
	padding:5px;
}

#cart h3{
	text-align:center;
}

#cart_total{
	font-weight: bold;
}
#event_table{
  width:500px;
}
#event_table td{
	padding:5px;
}
#event_table th{
	border-bottom: 1px solid black;
}
#line_item_price{
	width:50px;
}

.button_as_link {
    overflow:visible; /* Shrinkwrap the text in IE7- */
    margin:0;
    padding:0;
    border:0;
    color:rgb(0,0,205);
    background:transparent;
    font:inherit; /* Inherit font settings (doesn’t work in IE7-) */
    line-height:normal; /* Override line-height to avoid spacing issues */
    text-decoration:underline; /* Make it look linky */
    cursor:pointer; /* Buttons don’t make the cursor change in all browsers */
    -moz-user-select:text; /* Make button text selectable in Gecko */
}
.button_as_link:hover,
.button_as_link:focus {
    color:red;
}
.button_as_link::-moz-focus-inner {
    padding:0;
    border:0;
}


/*Users*/
.contact-form label{
  width: 110px;
  text-align: right;
  padding:5px;
}


/*Conference*/
.price input{
	width:50px;
}

#user_search_results td{
	padding:5px;
}

/* Reviews */
#unreviewed_proposals td, th{
	padding-left:15px;
	padding-right:15px;
}

/* Proposals */
.presenter-fields label{
  width: 110px;
  text-align: right;
  padding:5px;
}

.editCurrentConference {
  float: left;
  width: 350px;
}

.switchConferences {
  float: right;
  width: 450px;
}

.switchConferences {
  display:block;
}


/* Pagination */
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #042456;
    color: white;
    border: 1px solid #042456; }
  .digg_pagination a {
    text-decoration: none;
    color: #042456;
    border: 1px solid #042456; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #042456;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

    
/* Payments */
.paid, .unpiad{
	overflow:hidden;
	clear:both;
	padding:5px;
}
.paid{
	background-color:#33CC66;
}
.unpiad{
}
.mark_as_paid{
	
}
.payment_option{
	padding:3px;
}
.payment_option input{
	padding:3px;
}