<p><strong>Please add $16 USD for transfers sent outside the US and $13 USD for transfers within the US</strong></p>

<p class='important_reminder'>If the payee is not the same person as the person being registered please email info@ifta-congress.org and tell us what bank to expect your payment from.</p>
<p>Your registration addition has been submitted, and we will watch carefully for your payment to arrive.</p>


<p><strong>Directions for an Electronic Bank Transfer</strong></p>

<p>If you wish to pay for your Congress registration by a bank transfer, please take the information below to your bank. We recommend that you send an Electronic Transfer because they usually cost less for you to send. However, some banks cannot send Electronic Transfer. Then, send a Wire Transfer. Since we incur an extra charge of US$30. Please add this charge to the amount you send. Electronic Transfer are generally free of charge, at least on the receiver's end. Please email us when you send the electronic or wire transfer so that we may watch for it: info@ifta-congress.org</p>

<p>Please email us when you sent the electronic transfer so that we may watch for it: info@ifta-congress.org</p>

<p>NAME ON ACCOUNT: WORLD FAMILY THERAPY CONGRESSES</p>

<p>SWIFT or IBAN CODE: USBKUS44IMT</p>

<p>ROUTING NUMBER: 073000545</p>

<p>ACCOUNT NUMBER: 196474438989</p>

<p><strong>NAME AND ADDRESS OF LOCAL BANK:</strong> USBank, 230 18TH STREET, ROCK ISLAND, IL 61201 USA</p>

<p><strong>IFTA CORPORATE OFFICE:</strong> 1800 3rd Avenue, STE 512, Rock Island, IL 61201 USA</p>