<p class="important_reminder">If the payee is not the same person as the person being registered please include this page when you mail your check.</p>

<p></p>Please send your check to:<br>
Marriage and Family Counseling Service<br>
1800 3rd Ave<br>
Ste 512<br>
Rock Island IL 61201</p>
