<%- content_for :nav do %>
	<%= render :partial => 'layouts/admin_nav' %>
<%- end %>
<h1><%= @conference.conference_year %> Paid Registrations Breakdown</h1>

<%= render :partial => 'reports/conference_item_breakdown' %>