<div id="foot-text">

<div style="display:inline-block; width:870px; padding:0 0 20px 0;">

<div style="display:block; float:right; width:265px; text-align:center; padding:25px 10px 0 10px;">Contact us at:
  <a href="mailto:info@ifta-congress.org">info@ifta-congress.org</a><br /><br />
  <a href="http://twitter.com/IFTA_Family" target="_blank">
  	<img src="http://www.ifta-congress.org/includes/images/twitter-icon.png" alt="Follow Us On twitter" width="150" border="0"></a><br />
<a href="http://www.facebook.com/groups/200673509993349/" target="_blank"><img src="http://www.ifta-congress.org/includes/images/facebook-icon.png" alt="Find Us on Facebook" width="150" border="0"></a>
</div>
<div style="display:block; float:left; width:225px;"><a href="http://twitter.com/IFTA_Family"><img src="http://www.ifta-congress.org/includes/images/IFTA-logo.png" alt="IFTA Logo" width="225" border="0"></a></div>
<div style="display:block; margin-left:260px; width:275px; padding:25px 10px 0 10px;">IFTA, working in a collaborative spirit with other professionals and organizations around the world who share its mission, also promotes continuing education in the development of quality standards for marriage and family therapy for professionals performing family therapy in order that they may better assist families in the communities in which they serve.</div>

</div>

<hr color="#999999"> 
<span style="float:right;">Site by: <a href="http://www.augustana.edu/webguild" target="_blank">Augustana Web Guild</a></span>
<span style="float:left;">© IFTA Family Therapy</span>

</div>