<%- itinerary = @itinerary || current_user.itineraries.selected_or_current_conference(selected_conference) %>
<li><%= link_to "Registration", edit_itinerary_path(itinerary)%></li>
<%= render 'layouts/proposals_by_status' %>