<%- itinerary = @itinerary || current_user.itineraries.where(conference_id: selected_conference).first %>
<li><%= link_to "Registration", edit_itinerary_path(itinerary)%></li>
<%= render 'layouts/proposals_by_status' %>